<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CH</title>
    <link rel="stylesheet" href="cs.css">
</head>
<body>
    <div class="cs">
        <div class="first"><img src="ch-icon.png"></div>
        <a href="ch.html" class="first"><h1>CHEMICAL ENGINEERING</h1></a>
    </div>

    <div class="main">
        <button class="tablink" onclick="openPage('Home', this, 'rgb(40, 35, 85')" id="defaultOpen">First Year</button>
        <button class="tablink" onclick="openPage('News', this, 'rgb(40, 35, 85')" >Second Year</button>
        <button class="tablink" onclick="openPage('Contact', this, 'rgb(40, 35, 85')">Third Year</button>
        <button class="tablink" onclick="openPage('About', this, 'rgb(40, 35, 85')">Fourth Year</button>

        <div id="Home" class="tabcontent">
    <a href="AICTE Syllabus 2018-19 -Common.pdf" download="1st Year Syllabus"><button class="s"><h2>Syllabus 2019-20</h2></button></a>
    <h2>ODD SEMESTER</h2>
    <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - MATHEMATICS 1  ( KAS-103 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <h2>EVEN SEMESTER</h2>
    <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - MATHEMATICS 1  ( KAS-103 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
        </div>

        <div id="News" class="tabcontent">
    <a href="ch2nd.pdf" download="CHEMICAL 2nd Year Syllabus"><button class="s"><h2>Syllabus 2019-20</h2></button></a>
    <h2>ODD SEMESTER</h2>
    <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - MATHEMATICS 1  ( KAS-103 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <h2>EVEN SEMESTER</h2>
    <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - MATHEMATICS 1  ( KAS-103 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
        </div>

        <div id="Contact" class="tabcontent">
    <a href="Chemical Combined file.pdf" download="Chemical 3rd year Syllabus"><button class="s"><h2>Syllabus 2019-20</h2></button></a>
    <h2>ODD SEMESTER</h2>
    <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - MATHEMATICS 1  ( KAS-103 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <h2>EVEN SEMESTER</h2>
    <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - MATHEMATICS 1  ( KAS-103 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
        </div>

        <div id="About" class="tabcontent">
    <a href="ch4th.pdf" download="CHEMICAL 4TH Year Syllabus"><button class="s"><h2>Syllabus 2019-20</h2></button></a>
    <h2>ODD SEMESTER</h2>
    <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - MATHEMATICS 1  ( KAS-103 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <h2>EVEN SEMESTER</h2>
    <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - MATHEMATICS 1  ( KAS-103 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
  <div class="subject">
      <h2>THEORY - PHYSICS  ( KAS-101 )</h2>
      <button>question paper</button>
      <button>video lecture</button>
      <button>e-books</button>
      <button>important notes</button>
  </div>
        </div>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
    </div>


    <footer>
        <div class="social-links">
        <div class="about">
          <h2>CODE HARD</h2>
          <p>This is an Educational website providing attractive content to learn.</p>
          <div class="social-icons-footer">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-google-plus-square"></i>
          </div>
        </div>
        <div class="Quick-links">
                    <h2>COMPANY</h2>
                    <a href="#">About Us</a><br>
                    <a href="#">Contact Us</a><br>
                    <a href="#">Join Us</a>
        </div>
        <div class="Contribute">
                    <h2>CONTRIBUTE</h2>
                    <a href="writeanartical.html">Write an Article</a><br>
                    <a href="#">Upload Lecture pdf</a><br>
                    <a href="#">Write Interview Experience</a><br>
                    <a href="#">Give Feedback</a><br>            
        </div>
      </div>
      
      <div class="copyright">Copyright ©. Code Hard
      </div>
    </footer>


</body>
</html>