doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title CH
  link(rel='stylesheet', href='/stylesheets/cs.css')
.cs
  .first
    img(src='/images/ch-icon.png')
  a.first(href='/ch')
    h1 CHEMICAL ENGINEERING
  //- div
  //-   a(href='/logout')
  //-     button.logoutwa Log out
.main
  button#defaultOpen.tablink(onclick="openPage('Home', this, 'rgb(40, 35, 85')") First Year
  button.tablink(onclick="openPage('News', this, 'rgb(40, 35, 85')") Second Year
  button.tablink(onclick="openPage('Contact', this, 'rgb(40, 35, 85')") Third Year
  button.tablink(onclick="openPage('About', this, 'rgb(40, 35, 85')") Fourth Year
  #Home.tabcontent
    a(href='/images/AICTE Syllabus 2018-19 -Common.pdf', download='1st Year Syllabus')
      button.s
        h2 Syllabus 2019-20
    h2 ODD SEMESTER
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - MATHEMATICS 1  ( KAS-103 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    h2 EVEN SEMESTER
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - MATHEMATICS 1  ( KAS-103 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
  #News.tabcontent
    a(href='/images/ch2nd.pdf', download='CHEMICAL 2nd Year Syllabus')
      button.s
        h2 Syllabus 2019-20
    h2 ODD SEMESTER
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - MATHEMATICS 1  ( KAS-103 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    h2 EVEN SEMESTER
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - MATHEMATICS 1  ( KAS-103 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
  #Contact.tabcontent
    a(href='/images/Chemical Combined file.pdf', download='Chemical 3rd year Syllabus')
      button.s
        h2 Syllabus 2019-20
    h2 ODD SEMESTER
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - MATHEMATICS 1  ( KAS-103 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    h2 EVEN SEMESTER
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - MATHEMATICS 1  ( KAS-103 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
  #About.tabcontent
    a(href='/images/ch4th.pdf', download='CHEMICAL 4TH Year Syllabus')
      button.s
        h2 Syllabus 2019-20
    h2 ODD SEMESTER
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - MATHEMATICS 1  ( KAS-103 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    h2 EVEN SEMESTER
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - MATHEMATICS 1  ( KAS-103 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
    .subject
      h2 THEORY - PHYSICS  ( KAS-101 )
      button question paper
      button video lecture
      button e-books
      button important notes
  script.
    function openPage(pageName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
footer
  .social-links
    .about
      h2 CODE HARD
      p This is an Educational website providing attractive content to learn.
      .social-icons-footer
        i.fab.fa-facebook
        i.fab.fa-twitter-square
        i.fab.fa-instagram
        i.fab.fa-google-plus-square
    .Quick-links
      h2 COMPANY
      a(href='/about') About Us
      br
      a(href='/contact') Contact Us
      br
      a(href='#') Join Us
    .Contribute
      h2 CONTRIBUTE
      a(href='writeanartical.html') Write an Article
      br
      a(href='#') Upload Lecture pdf
      br
      a(href='#') Write Interview Experience
      br
      a(href='#') Give Feedback
      br
  .copyright
    | Copyright &copy;. Code Hard
