extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p please contact us for any information. <br> kindly provide your feedback. <br>it motivate us for doing more interesting work for you.
        //- p keep visiting. 
        a.fa.fa-facebook(href='#')
        a.fa.fa-twitter(href='#')
        a.fa.fa-google(href='#')
        a.fa.fa-linkedin(href='#')
        a.fa.fa-instagram(href='#')
        //- <br>
        .cont
          a.btn.btn-primary(href='#') Keep Visiting


