doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  style.
    body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    }
    html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }
    .column {
    height:50%;
    float: left;
    width: 20%;
    margin-left:20%;
    }
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    }
    .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    }
    .container {
    padding: 0 16px;
    }
    .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    }
    .title {
    color: grey;
    }
    .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    }
    .button:hover {
    background-color: #555;
    }
    @media screen and (max-width: 650px) {
    .column {
    width: 100%;
    display: block;
    }
    }
.about-section
  h1 About Us Page
  p Some text about who we are and what we do.
  p Resize the browser window to see that this page is responsive by the way.
h2(style='text-align:center') Our Team
.row
  .column
    .card
      img(src='/images/sanju.jpg', alt='Jane', style='width:100%')
      .container
        h2 Jane Doe
        p.title CEO &amp; Founder
        p Some text that describes me lorem ipsum ipsum lorem.
        p jane@example.com
        p
          button.button Contact
  .column
    .card
      img(src='/images/nihal.jpg', alt='Mike', style='width:100%')
      .container
        h2 Mike Ross
        p.title Art Director
        p Some text that describes me lorem ipsum ipsum lorem.
        p mike@example.com
        p
          button.button Contact

